# Copyright (c) 2014-2015, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# nvlogd
type nvlogd, domain;
type nvlogd_exec, exec_type, file_type;

init_daemon_domain(nvlogd)

allow nvlogd shell_exec:file read;
allow nvlogd system_file:file execute_no_trans;
allow nvlogd nvlogd:capability { dac_override dac_read_search sys_admin };
allow nvlogd nvlogd:capability2 syslog;
allow nvlogd fuse:dir { search write reparent rmdir add_name create remove_name rename };
allow nvlogd fuse:file { write open create append getattr };
allow nvlogd logdr_socket:sock_file write;
allow nvlogd kernel:system syslog_mod;
allow nvlogd logd:unix_stream_socket connectto;
